/* shared common style  */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header related style  */
.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(/images/banner/banner1.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-content {
    width: 80%;
    text-align: end;
    margin: auto;
}

.header-content h1 {
    color: #151515;
    text-align: right;
    font-size: 65px;
    margin-bottom: 24px;
}

.header-content p {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;
    width: 160px;
    height: 64px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* main section style  */

.previous-year-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-element {
    margin-top: 250px;
}

.container-img {
    margin: 70px;
    width: 100vh;
    height: 100vh;
}

.container-text h1 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.container-text p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.list-item {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
}

.list-item li {
    margin-top: 10px;
    list-style: none;
}

.list-item li>i {
    color: #16D887;
    width: 24px;
    height: 24px;
}

/* my-plan section */

.plan-title {
    text-align: center;
    margin-bottom: 50px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-top: 200px;
}

.plan-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plan-icon img {
    padding-left: 50px;
}

.plan-icon h3 {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 18px;
}

.plan-icon p {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

/* cover-photo-section */
.cover-photo {
    background-image: url(../images/watch.png);
    height: 100vh;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-section-description {
    padding: 59px 617px 147px 64px;
}

.photo-section-description h2 {
    width: 459px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-top: 70px;
}

.photo-section-description button {
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    margin-top: 24px;
    border: 0px;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* footer section style */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #151414;
    width: 100%;
    height: 577px;
}

.future-section h1 {
    color: #f8f8f8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
}

.future-section p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 17px;
}

.social-icon img {
    padding: 5px;
}

.subscribe-section {

    height: 250px;
}

.subscribe-section h1 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;

}

.subscribe-section input {
    color: #f3f3f3;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    background-color: #151414;
    border: 0px solid black;
    border-radius: 8px;
    margin: 17px 0;
}

.btn-secondary {
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    margin-top: 24px;
    border: 0px;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}